/**
 * Manager Style File for the backend.
 * change whatever you want ;) 
 */
body
	background-color: white
	padding-top: 50px;
	padding-bottom: 65px;

/**
 * UPLOAD FORM STYLES
 */
#xhr-upload-container 
	display: block;


#xhr-upload-controls 
	margin-top: 10px;


#btn-add-xhr-file 
	position: relative;


#btn-submit-xhr-files 
	display: none; 


#btn-add-xhr-file 
	input
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		width: 126px;
		height: 30px;

.xhr-upload-item 
	img 
		float: left;
		padding: 10px;
	.item-infos 
		float: left;
		padding: 10px;
	.item-infos p 
		margin: 0;

/**
 * USERS LOGIN STYLES
 */
#users-view-login
	padding: 15px;
	background-color: #fcfcfc;
	border-radius: 5px;

/**
 *
 *  FOOTER Style
 */
#footer
	position: fixed
	bottom 0
	left 0
	width 100%
	padding-top 10px
	padding-bottom 10px
	height 40px
	background-color #fcfcfc

#poweredby
	img
		display inline