/**
 * the style file for the app
 * change, delete or add any style you like 
 * this file should be used for frontend style only
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

html,
body
  width 100%  

body
  margin:0;
  padding:0;
  color:#000;  
  background-color: #e5e5e5
  font-family: "Georgia", arial, verdana, sans-serif;
  text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */

h1,
h2,
h3,
h4,
h5,
h6
  font-family: "Georgia", arial, verdana, sans-serif;


// @media (max-device-width: 1024px) and (orientation: landscape)


// @media (max-device-width: 768px) and (orientation: portrait)